*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 100%;
}
body {
	height: 100vh;
	display: grid;
	align-content: center;
	justify-content: center;
	background-color: #aaa;
	font-family: "Poppins";
}

button {
	outline: none;
	border: none;
	border-radius: 0.5rem;
	min-width: 5em;
	min-height: 3em;
	background-color: #98a6ad;

	&:active {
		background-color: #ccc;
	}

	&:hover {
		border: 1px solid #ccc;
	}
}

// APP CALCULATOR
$background-color: #1f2223;
$display-background-color: #ddd2c9;
$display-text-color: #444;
$display-border: #ccc;

$button-add: skyblue;
$button-sub: skyblue;
$button-mul: skyblue;
$button-div: skyblue;
$button-result: lightgreen;
$button-delete: lightseagreen;

$border-radius: 12px;

#app {
	font-size: 1.2em;
	padding: 1em;
	color: #333;
	width: 400px;
	border-radius: $border-radius;
	background-color: $background-color;

	.display {
		font-size: 2em;
		text-align: right;
		margin: 1rem 0;
		width: 100%;
		height: 10rem;
		// padding: 1em;
		color: $display-text-color;
		background-color: $display-background-color;
		// border: 0.2em solid $display-border;
		border-radius: $border-radius;
		display: flex;
		flex-wrap: wrap;

		.history {
			font-size: 0.5em;
			height: 50px;
			width: 100%;
			padding: 0.5rem 0.5rem;
			background-color: #c4adad;
		}

		.current {
			width: 100%;
			height: auto;
			padding: 0.5rem 0.5rem;
		}
	}

	.keypad {
		display: grid;
		width: 100%;
		grid-template-columns: 1fr;
		font-size: 1.5rem;

		button {
			font-size: 0.9rem;
			font-weight: 600;
		}

		#numpad {
			margin: 1em 0;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 0.5em;
		}
	}
}

#actions {
	margin: 0.5em 0;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	gap: 2em;

	#clear {
		background-color: lightcoral;
	}

	#delete {
		background-color: $button-delete;
	}

	#result {
		background-color: $button-result;
	}
}

#blank {
	grid-column: 2/4;
	background-color: #444;
	color: #2f2f2f;
	border: none;
}

// Operators
#operator {
	margin-top: 1rem;
	text-align: center;
	// button {
	// 	margin: 0 0.2rem;
	// 	box-shadow: 0 0.5rem 5rem rgba($color: #000000, $alpha: 0.9);
	// }

	#add {
		background-color: $button-add;
	}
	#sub {
		background-color: $button-sub;
	}
	#mul {
		background-color: $button-mul;
	}
	#div {
		background-color: $button-div;
	}
}

.operator {
	font-size: 2rem;
}
